<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agentdemo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/elogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.agentdemo.MainActivity"
            android:label="Services"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.WithdrawOptionActivity"
            android:label="Withdraw"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.Login"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.FundTransferPreviewActivity"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.agentdemo.FirstLogin"
            android:label="First Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.withdraw_first"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.TopUpAirtimeActivity"
            android:label="Services"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.WithdrawFirstMwallent"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.TopUpPreviewActivity"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.WithdrawMwallentPreviewActivity"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.DepositOptionActivity"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.DepositMwallentAccount"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.BalanceOptionActivity"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.BalanceMwallentActivity"
            android:label="withdraw First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.BalanceActivity"
            android:label="Balance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.BalancePreview"
            android:label="Balance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name=".DepositAccount"
            android:label="Deposit First"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.CustomerManagementActivity"
            android:label="Customer Mangement"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.CreateAccountActivity"
            android:label="Create Account"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.FundTransferActivity"
            android:label="Create Account"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.CreateAccountPreviewActivity"
            android:label="Create Account Preview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.NfcTagWriteActivity"
            android:label="Write NFC TAG"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.agentdemo.InformationEditActivity"
            android:label="Information Edit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.TopUpOtionalActivity"
            android:label="Information Edit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name=".PayUtilitiesOptionalActivity"
            android:label="Information Edit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.agentdemo.DepositPreview"
            android:label="Deposit Preview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.agentdemo.WithdrawPreviewActivity"
            android:label="Cash Out Preview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.EditAccountActivity"
            android:label="Cash Out Preview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.agentdemo.PayUtilityActivity"
            android:label="Cash Out Preview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <activity
            android:name="com.agentdemo.ReadFingerprintActivity"
            android:label="Create Account"
            android:screenOrientation="portrait" />


    </application>

</manifest>
